<html>
<head>
	<title>{{title}}</title>
	{{#if pageDescription}}
		<meta name="description" property="og:description" content="{{pageDescription}}"/>
	{{/if}}
	{{#if buildDateTime}}
		<meta http-equiv="last-modified" content="{{buildDateTime}}"/>
	{{/if}}
	<meta name="keywords" content=""/>
	{{#if author}}
		<meta name="author" content="{{author}}">
	{{/if}}
	{{#if title}}
		<meta name="twitter:title" property="og:title" content="{{title}}"/>
	{{/if}}
	<meta property="og:type" content="website"/>
	{{#if pageUrl}}
		<link rel="canonical" href="{{pageUrl}}"/>
		<meta property="og:url" content="{{pageUrl}}"/>
	{{/if}}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{> favicon}}
</head>
<body itemscope="" itemtype="https://schema.org/WebPage">
	<header>
		<div class="title">
			<a href="/">{{> importRawFile 'assets/kirsty-andrew.svg'}}</a>
		</div>
		{{> navigation/navigation nav}}
	</header>
	<main>
		{{#if title}}<h1>{{title}}</h1>{{/if}}
		{{> @partial-block}}
	</main>
</body>
</html>
