
{{debugObjectAsJson compilation.assets.[content.js]}}
{{!-- {{copyObjectChildToNewContext content.pages htmlWebpackPlugin.options.ref this 'page'}}
{{debugObjectKeys this}}
{{#> main page}}
	<h1>{{title}}</h1>
	<p>{{body}}</p>
{{/main}} --}}
